@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 730px) {
  .football-logo {
    width: 200px;
    position: absolute;
    right: 0px;
  }
  .basketball-logo {
    width: 302px;
    position: absolute;
    right: 0px;
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .carousel {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    animation: carouselAnimation 10s infinite;
  }

  .carousel li {
    flex: 0 0 auto;
    width: 100%;
  }

  @keyframes carouselAnimation {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-100%);
    }
    69% {
      transform: translateX(-200%);
    }
    97% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
